%background_styles {
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

.layout-container {
  margin: auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  .layout-container__header {
    height: 550px;
    width: 100%;
    @extend %background_styles;
    background-color: grey;
    background-image: url('./header_bg.jpg');
    color: white;
    text-align: center;
    position: relative;

    .header__menu {
      width: 100%;
      background-color: black;
      color: white;
      height: 40px;
      padding: 0 20px;
      position: fixed;

      > ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        > li a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .header__texts {
      > h1 {
        margin-top: 130px;
        font-size: 46px;
        line-height: 50px;
        font-weight: bolder;
      }

      .header__texts__search {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 40px;

        .search__component {
          width: 100%;

          > input {
            border-radius: 25px;
          }
        }

        .search__rating-filter {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;

          .rating-filter__star {
            i.icon {
              color: white;
            }
          }
        }
      }
    }
  }

  .layout-container__content {
    margin: auto;
    width: 70%;
    padding: 70px 0;
  }

  .layout-container__footer {
    height: 300px;
    @extend %background_styles;
    background-position: center;
    background-image: url('https://i.pinimg.com/564x/b3/bb/63/b3bb6318b1f13cb936705be550dec861.jpg');
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px;

    .footer__texts {
      color: white;
      display: flex;
      flex: 1;

      .footer__texts__content {
        width: 300px;
        justify-content: flex-start;

        .ui.checked.checkbox {
          > label {
            color: white;
          }
        }

        .ui.checkbox input:checked ~ .box:after,
        .ui.checkbox input:checked ~ label:after {
          color: orange;
          font-size: 20px;
        }

        .ui.checkbox .box::before,
        .ui.checkbox label::before {
          content: none;
          border: none;
        }

        .footer__copy {
          flex: 1;
          font-size: 16px;
          font-weight: bold;
          display: block;
          margin-top: 20px;
        }
      }
    }

    .footer__form {
      width: 45%;
      color: white;
      padding: 0 30px;
    }
  }
}

@media (min-width: 48.063em) {
  .layout-container {
    .layout-container__header {
      height: 450px;

      .header__texts {
        .header__texts__search {
          width: 400px;
          margin: auto;
          padding: 40px 0;

          .search__component {
            width: 400px;
          }
        }
      }
    }
  }
}
